@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
#dberita .left-side .berita img {
    height: 50%;
    width: 100%;
}

/* #dberita .left-side .more-news .image {
    overflow: hidden;
    height: 20em;
} */

#dberita .left-side .text {
    text-align: justify;
}

#dberita .left-side .more-news .card-text {
    text-align: justify;
}

#dberita .left-side .more-news .detail {
    font-weight: bolder;
    font-size: smaller;
    color: gray;
}

#dberita .image-wrap {
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#dberita .left-side .image-wrap {
    height: 20em;
}

#dberita .right-side .image-wrap {
    width: 4.8em;
    height: 6em;
}

/* RESPONSIVING */
@media screen and (max-width: 1000px) {
    #dberita .right-side .card-body {
        font-size: smaller;
    }

    #dberita .right-side .card-title {
        font-size: medium;
    }
}

@media screen and (max-width: 768px) {
    #dberita .left-side .wrap {
        font-size: small;
    }

    #dberita .left-side .image-wrap {
        height: 15rem;
    }

    #dberita .right-side {
        display: none;
    }
}
