.left-side .berita img {
    height: 50%;
    width: 100%;
}

.left-side .more-news .image {
    overflow: hidden;
    height: 20rem;
}

.left-side .more-news .wrap {
    width: 14rem;
}

.left-side .text {
    text-align: justify;
}

.left-side .more-news .card-text {
    text-align: justify;
}

.left-side .more-news .detail {
    font-weight: bolder;
    font-size: smaller;
    color: gray;
}

.image-wrap {
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.left-side .image-wrap {
    height: 20rem;
}

.right-side .image-wrap {
    width: 8rem;
    height: 10rem;
}


/* RESPONSIVING */
@media screen and (max-width: 1000px) {
    .right-side {
        font-size: smaller;
    }

    .right-side .image-wrap {
        width: 10rem;
        height: 9rem;
    }
}

@media screen and (max-width: 768px) {
    .left-side .wrap {
        font-size: small;
    }

    .right-side {
        display: none;
    }
}