@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

nav .top {
    background-color: #f5a623;
    color: white;
}

nav .icon {
    position: absolute;
    left: 3rem;
}

.navbar input {
    border: 0px;
    color: white;
}

.navbar input::placeholder {
    color: white;
    opacity: 100%;
}

.navbar input:focus {
    background-color: rgba(18, 18, 18, 3.6);
    opacity: 100%;
    color: white;
    outline: none;
    box-shadow: none;
}

.navbar .bts {
    color: white;
    transition: 0.2s;
}

.navbar .bts:hover {
    color: #f5a623;
}

.navbar form,
.navbar input {
    background-color: rgba(18, 18, 18, 3.6);
    opacity: 40%;
}

footer {
    background-color: #f5a623;
    color: white;
    font-family: "kurela";
}
